.printable {
  width:380px !important; 
  height:280px !important; 
}



@media print {
   .no_print 
    {    
     display: none !important;
    }

   .printable
    {
     display: block !important;
    }
}